
#piano2{
    background:url('piano2.jpg') no-repeat center  fixed;
        background-size: cover;
        height: 300px;
}
#piano{
    background:url('piano.jpg') no-repeat center  fixed;
        background-size: cover;
        height: 300px;
}

.text-center{
	text-align: center;
}

.admin-alumno{
    list-style:none
}
.jumbotron {
    padding-top: 1em !important;
    padding-bottom: 20px !important;
    margin: initial !important;
}

.btn{
          background: transparent !important;
              padding: 8px 74px !important;
}

.T{
	color: #7C1D52 !important;
}

